.header-style {
  border-bottom: 1px solid #ececec;
}

.header-stye__flex-nav-container {
  display: flex;
  align-items: center;
}

.header-stye__padding {
  padding-bottom: 25px;
  padding-top: 24px;
}

.header-style__display-form-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.header-style__header-contact-color {
  color: $second-color;
  display: flex;
  align-items: center;
}

.header-style__mail-icon-position {
  vertical-align: middle;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.header-style__iphone-icon-position {
  vertical-align: middle;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}
