body {
  font-family: "Roboto", "Raleway", sans-serif;

  width: 1600px;
  margin: 0 auto;
}

.list-style {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
